/* **************************** */
  /* Style of stuff */
/* **************************** */

/* **************************** */
  /* Ensure proper sizing */
* {
  box-sizing: border-box;
}
  
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/* **************************** */
	/* META */
/* **************************** */

/* This is to define variables, use later var(--NAME) when you want to use it */
/* https://ado.xyz/blog/custom-css-color-names/#:~:text=To%20add%20a%20new%20named,%2D%2Dadoblue%3A%20%231a202c%3B%20%7D */
:root {
  --colormain: #1a75ff; /* var(--colormain) */
  --colorhover: #ddd; /* var(--colorhover) */
  --colorsecondary: #04AA6D /* var(--colorsecondary) */
}


::-moz-selection { /* Code for Firefox */
  color: white; /* Letters color */
  background:  var(--colormain); /* background color */
}
::selection {
  color: white; /* Letters color */
  background:  var(--colormain); /* background color */
}

a.imageLink{
    text-decoration:none;
}

.pdflinking {
  /* line-height: 9px; */
  /* vertical-align: top; */
  position:relative; 
  bottom:2px; 
}

.ivooxlinking {
  /* line-height: 9px; */
  /* vertical-align: top; */
  position:relative; 
  bottom:5px; 
}



/* **************************** */
  /* HEADER*/
/* **************************** */

  /* Style the header */
.header {
  padding: 70px;
  text-align: center;
  background: var(--colormain); /* Color background */
  color: white; /* Color text */
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 40px;
}
/* Responsive layout */
@media screen and (max-width: 450px) {
  .header {
  padding: 35px;
  }
}
/* **************************** */





/* **************************** */
  /* NAV BAR */
/* **************************** */
  
  /* Style the top navigation bar */
  .topnav {
      /* overflow: hidden; */
      background-color: #333; /* Color of the bar (without hovering) */
      position: sticky;
      top: 0;
      min-height: 46px;
    }

  /* Style the navigation bar links */
 .topnav a {
      list-style-type: none;
      float: left; /* Position within nav bar*/
      display: block;  /* Style of the full bar */
      color: white; /*Color text (without hovering, accpets html colors)*/
      text-align: center;
      padding: 14px 16px; /* The margins of each element of the nav bar (vertical horizontal) */
      text-decoration: none;
      font-size: 16px;
 }
  
    /* Change color on hover */
.topnav a:hover, .dropdown:hover .dropbtn{
  background-color: var(--colorhover);
  color: black; /*Color text hovering, accpets html colors*/
}

.topnav a.youarehere { /* DONT CHANGE NAME https://stackoverflow.com/questions/51818419/remove-a-wild-dash-from-active-class-anchor-tag */
  background-color: var(--colorsecondary);
  color: white;
  border:none;
  text-decoration:none !important;
}
.topnav a.youdrophere { /* DONT CHANGE NAME https://stackoverflow.com/questions/51818419/remove-a-wild-dash-from-active-class-anchor-tag */
  background-color: #98DDC3;
  color: black;
  border:none;
  text-decoration:none !important;
}

 /* Right-aligned link */
.topnav a.right {
  float: right;
  background-color: #E85232; /* Color background */
  color: white; /* Color text */
}
.topnav a.right:hover{  /* Change color on hover */
  background-color: #C34429;
  color: white; /*Color text hovering, accpets html colors*/
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 450px) {
  .topnav{  /* the absence of a affects the entire object */
	position:static !important;
  }
  .topnav  a{ /* a affects the elements */
    float: none;
    width:100%;
	padding: 10px; /* The margins of each element of the nav bar (vertical horizontal) */
  }
  .topnav  a.right{
	  float=none;
	  width:100%;
	  list-style-type: none;
      display: block;  /* Style of the full bar */
      color: white; /*Color text (without hovering, accpets html colors)*/
      text-align: center;
      text-decoration: none;
      font-size: 16px;
	  position:absolute !important; 
  }
}



  /* The dropdown container */
.dropdown {
  float: left;
}
  /* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
  /* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.4); /* Shadow box with options (sidepx verticalpx difuminationpx sizepx (color)) */
  z-index: 100000;
}
  /* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black; /* Color text */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
  /* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 450px) {
  .dropdown {
	float: none;
    width:100%;
  }
  .dropbtn {
	float: none;
    width:100%;
  }
}

/* **************************** */
  
 /* The dropdown container BUT SELECTED */
.dropdownHERE {
  float: left;
}
  /* Dropdown button */
.dropdownHERE .dropbtnHERE {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: var(--colorsecondary);
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
  /* Dropdown content (hidden by default) */
.dropdownHERE-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.4); /* Shadow box with options (sidepx verticalpx difuminationpx sizepx (color)) */
  z-index: 100000;
}
  /* Links inside the dropdown */
.dropdownHERE-content a {
  float: none;
  color: black; /* Color text */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
  /* Add a grey background color to dropdown links on hover */
.dropdownHERE-content a:hover {
  background-color: #ddd;
  color: black;
}
  /* Show the dropdown menu on hover */
.dropdownHERE:hover .dropdownHERE-content {
  display: block;
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 450px) {
  .dropdown {
	float: none;
    width:100%;
  }
  .dropbtn {
	float: none;
    width:100%;
  }
}

/* **************************** */

/* **************************** */
  /* COLUMNS */
/* **************************** */

  /* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 25%; /* Portion of side, compatible with (w.w) */
  background-color: #f1f1f1;
  padding: 20px; /* Margin */
}

/* Main column */
.main {   
  flex: 75%; /* Portion of main, compatible with (w.w) */
  background-color: white;
  padding: 20px; /* Margin */
}

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
  padding:40px 0px; /* This is a weird fix to the bug that hides this behing the right link in the topnav */
  /*position:absolute;*/
  flex-direction: column;
  }
  .side {
  flex: 100%;
  }
  .main {
  flex: 100%;
  }
}

/* **************************** */


/* **************************** */
  /* ACCORDION */
/* **************************** */

/* Main text */
.mainBIG {   
  flex: 100%; 
  background-color: white;
  padding: 20px; /* Margin */
}

  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #ddd; /* Color background */
  color: black; /* Color text */
  cursor: pointer;
  padding: 20px; /* Size boxes */
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.3s; /* Transition between normal and hover */ 
  border-radius: 8px; /* Round borders */
  border-left: 4px solid #1a75ff; /* Size Style Color */
  border-right: 4px solid #1a75ff; /* Size Style Color */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #cccccc;
  border-left: 3px solid #1a75ff; /* Size Style Color */
  border-right: 3px solid #1a75ff; /* Size Style Color */
}

.accordion:after {
  content: '\002B'; /* + in unicode */
  color: DarkSlateGrey; /* Color of text (+ and -) */
  font-weight: bold; /* Size of text (+ and -) */
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* - in unicode */
}


/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; /* Effects on transition */
}



/* **************************** */



/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */ /* This is currently not being used 
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}*/

  


